<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar</title>
    <link rel="stylesheet" th:href="@{/css/daftarStyle.css}">
</head>
<body>
    <header>
        <a href="index.html"><img class="cires_icon" src="assets/LogoCiresBaru.png" /></a>
    </header>
    <div class="container">
        <div>
            <span class="title"><h1>Selamat Datang di CiRes+</h1></span>
            <div class="form">
                <form method="post" action="daftar" th:object="${pelanggan}">
                    <input type="text" placeholder="Email" id="email">
                    <input type="text" placeholder="Nama Lengkap" id="nama_lengkap">
                    <input type="text" placeholder="Nomor Handphone" id="nomor_handphone">
                    <input type="password" placeholder="Password" id="password">
                    <span class="punya-akun">
                        <a href="login_page.html">Sudah Punya Akun</a>
                    </span>
                    <hr>
                    <input type="submit" value="DAFTAR" id="button_daftar">
                </form>
            </div>
        </div>
    </div>
</body>
</html>