<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CiRes+</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="header_container">
        <header>
            <img class="cires_icon" th:src="@{/assets/LogoCiresBaru.png}" />
            <div class="header_buttons">
                <a class="login" th:href="@{/login_page.html}"><p>Masuk</p></a>
                <a class="login" th:href="@{/daftar.html}"><p>Daftar</p></a>
            </div>
        </header>
    </div>
    <div class="banner">
        <img class="cires_image" th:src="@{/assets/newCiresImg.jpg}" />
        <div class="banner_text">
            <div class="cires_text">
                <h2>Sewa Apartemen? </br>Ciumbuleuit Residence Aja!</h2>
            </div>
            <div>
                <p>Sewa apartemen dengan mudah dan cepat dengan CiRes+ </p>
            </div>
            <div class="search_button">
                <a th:href="@{/pelanggan/cariApartemen}"><button class="search_unit" >Cari Unit</button></a>
            </div>
        </div>
    </div>
    <div class="banner_end">
        <p>Apartemen Ternyaman di Ciumbuleuit</p>
    </div>
    <div>
        <div class="pros_text">
            <h2>Mengapa menyewa apartemen di CiRes+?</h2>
        </div>
        <div class="pros_icons_container">
            <div class="pros_icon">
                <img th:src="@{/assets/1.png}" class="icon"/>
                <div class="bolded_icon_text">
                    <h3>Mudah</h3>
                </div>
                <div class="icon_desc">
                    <p>CiRes+ menyediakan sarana untuk menyewa apartmen secara daring dengan langkah-langkah yang sederhana.</p>
                </div>
            </div>
            <div class="pros_icon">
                <img th:src="@{/assets/2.png}" class="icon"/>
                <div class="bolded_icon_text">
                    <h3>Cepat</h3>
                </div>
                <div class="icon_desc">
                    <p>Lakukan penyewaan unit apartemen tanpa harus mengantri.</p>
                </div>
            </div>
            <div class="pros_icon">
                <img th:src="@{/assets/3.png}" class="icon"/>
                <div class="bolded_icon_text">
                    <h3>Aman</h3>
                </div>
                <div class="icon_desc">
                    <p>CiRes+ menjamin keamanan dan integritas data di dalam sistem. Data hanya digunakan untuk perekaman pengguna yang menyewa unit.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="benefits_container">
        <div class="benefits_text">
            <h1>Dapatkan Keuntungan Dari Ciumbuleuit Residence</h1>
        </div>
        <div class="benefits_content">
            <div class="benefits">
                <div class="benefit_choice"><img th:src="@{/assets/checkmark.png}" class="check_icon" /><p>Pembersihan unit gratis</p></div>
                <div class="benefit_choice"><img th:src="@{/assets/checkmark.png}" class="check_icon" /><p>Kontrak digital</p></div>
                <div class="benefit_choice"><img th:src="@{/assets/checkmark.png}" class="check_icon" /><p>Metode pembayaran fleksibel</p></div>
                <div class="benefit_choice"><img th:src="@{/assets/checkmark.png}" class="check_icon" /><p>Fasilitas lengkap</p></div>
                <div class="benefit_choice"><img th:src="@{/assets/checkmark.png}" class="check_icon" /><p>Billing management</p></div>
                <div class="benefit_choice"><img th:src="@{/assets/checkmark.png}" class="check_icon" /><p>Pemilihan unit sesuai kebutuhan</p></div>
            </div>
            <div class="benefits_image">
                <img th:src="@{/assets/thumbs up man.png}" class="benefits_img" />
            </div>
        </div>
        <div class="benefits_end">
            <a th:href="@{/pelanggan/cariApartemen}">
                <button class="benefit_button" >Dapatkan Keuntungan Sekarang</button>
            </a>
        </div>
    </div>
</body>
</html>