<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masuk</title>
    <link rel="stylesheet" th:href="@{/css/login_page.css}">
</head>
<body>
    <header>
        <a href="index.html"><img class="cires_icon" src="assets/LogoCiresBaru.png"/></a>
    </header>
    <div class="container">
        <div>
            <span class="title"><h1>Selamat Datang di CiRes+</h1></span>
            <div class="form">
                <form action="login" method="post">
                    <input type="text" name="email" placeholder="Email" id="email">
                    <input type="password" name="pass" placeholder="Password" id="password">
                    <div id="no-acc">
                        <a id="no-account" href="daftar.html">Belum Punya Akun</a>
                    </div>
                    <hr>
                    <input type="submit" value="LOGIN" id="button_login">
                </form>
            </div>
        </div>
    </div>
</body>
</html>