<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CiRes+</title>
    <link rel="stylesheet" th:href="@{/css/style-mencari-apartemen.css}">
</head>
<body>
    <header>
        <img class="cires_icon" src="../../static/assets/LogoCiresBaru.png" />
        <div class="header_buttons">
            <a class="login" href="login_page.html"><p>Masuk</p></a>
            <a class="login" href="daftar.html"><p>Daftar</p></a>
        </div>
    </header>
    <div class="container">
        <h2>Pilih Unit Impian Anda</h2>
        <div class="searchbar_container">
            <label for="tipe" class="tipe">Tipe Unit</label>
            <select name="Tipe apartemen" id="tipe">
                <option value="Studio">Studio</option>
                <option value="2BR">2BR</option>
            </select>
            <label for="check_in_date" class="checkin">Check-In</label>
            <input type="date" id="check_in_date">
            <label for="check_in_date" class="checkout">Check-Out</label>
            <input type="date" id="check_out_date">

            <label for="highestprice" class="hargarendah">Harga Terendah</label>
            <input type="text" id="lowestprice">
            <label for="highestprice" class="hargatinggi">Harga Tertinggi</label>
            <input type="text" id="highestprice">

            <label for="rating" class="rating">Rating Unit</label>
            <select name="rating" id="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <button>Cari</button>
        </div>


        <div class="result_container">
            <div th:each="unit : ${units}" id="new-unit" >
                <div class="info-new-unit">
                    <div class="info-kode-unit">
                        <p id="label-kode">Kode Unit: </p>
                        <p th:text="${unit.kodeUnit}" id="kode-unit"></p>
                    </div>
        
                    <div class="info-unit-2">
                        <div class="info-unit">
                            <span>Tower: </span>
                            <span th:text="${unit.namaTower}" id="tower-unit"></span>  
                        </div>
                            
                        <div class="info-unit">
                            <span>Lantai: </span>
                            <span th:text="${unit.noLantai}" id="lantai"></span>
                        </div>
            
                        <div class="info-unit">
                            <span>No: </span>
                            <span th:text="${unit.noUnit}" id="no-unit"></span>
                        </div>
            
                        <div class="info-unit">
                            <span>Harga: Rp</span>
                            <span th:text="${unit.tarif}" id="harga-unit"></span>
                        </div>
            
                        <div class="info-unit">
                            <span>Tipe Unit: </span>
                            <span th:text="${unit.tipe}" id="tipe-unit"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>