<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/AgenLogin.css}">
    <title>Agen Login</title>
</head>
<body>
    <div class="login-container">
        <div class="login-header">
            <img src="/assets/LogoCiresBaru.png" alt="Wombat.fm Logo">
        </div>
        <h2>Log in to Cires+</h2>
        <form action="agenLogin" method="post">
            <div class="form-group">
                <label for="nikAgen">NIK Agen</label>
                <input type="text" name="nikagen" id="nikAgen" placeholder="NIK Agen">
            </div>
            <button type="submit" class="btn-login">Log in</button>
        </form>
    </div>
</body>
</html>