<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CiRes+</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/KelolaUnit.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header class="relative">
        <div>
            <img class="cires_icon" src="../assets/LogoCiresBaru.png" />
        </div>
        <div class="info header_buttons flex justify-center items-center mr-5">
            <div>
                <p class="welcome text-white text-xl mr-4">Selamat datang, Agen John Doe!</p>
            </div>
            <div class="w-10  items-center justify-center text-white">
                <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" viewBox="0 0 20 20">
                    <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                </svg>
            </div>
        </div>
    </header>

    <main>
        <div class="p-5 border sticky bg-white w-full shadow-lg top-0">
            <div class="input relative flex space-x-4 justify-center">
                <div class="tower">
                    <select class="w-80 h-14 text-2xl pl-4 border-2 rounded-l-full rounded-r-full">
                        <option class="pl-2">A</option>
                        <option class="pl-2">B</option>
                        <option class="pl-2">C</option>
                        <option class="pl-2">D</option>
                    </select>
                </div>
        
                <div class="lantai">
                    <input type="number" min="1" max="20" id="lantai-field" class="text-2xl w-80 h-14 pl-4 border rounded-l-full rounded-r-full" placeholder="Lantai (1-20)">
                </div> 
        
                <div class="jenis">
                    <select class="w-80 text-2xl h-14 pl-2 border-2 rounded-l-full rounded-r-full">
                        <option class="pl-2">Studio</option>
                        <option class="pl-2">2BR</option>
                    </select>
                </div>

                <div class="search-button flex items-center justify-center rounded-2xl w-12">
                    <a href="KelolaUnit.html">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M21 21l-4.35-4.35m1.4-4.15a7 7 0 11-14 0 7 7 0 0114 0z" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="div-unit w-full h-full flex flex-col items-center justify-center gap-5 p-5">
            <div th:each="managing_unit : ${managing_units}" class="unit w-1/2 h-1/3 border rounded-2xl shadow-md flex gap-4 overflow-hidden">
                <div class="photo-unit">
                    <img th:src="@{/assets/unit-img.png}" class="w-96"/>
                </div>
                <div class="info-unit p-4 flex flex-col gap-2 justify-between">
                    <span class="price font-bold text-4xl ">Rp </span>
                    <div th:text="${managing_unit.tarif}" class="price font-bold text-4xl "></div>

                    <span class="status text-xl font-semibold">Status : </span>
                    <div th:text="${managing_unit.status}" class="status text-xl font-semibold "></div>
                </div>

                <div class="border flex flex-col justify-center items-center ml-auto w-40 hover:bg-gray-200 gap-4">
                    <p class="text-2xl font-semibold">Kelola Unit</p>
                    <i class="fas fa-arrow-right text-5xl text-green-500"></i> <!-- Right arrow -->
                </div>
            </div>
        </div>
    </main>
</body>