.cires_image {
    width: 100vw;
    height: 110vh;
    filter: brightness(40%);
}

.info{
    height: 100%;
}

.cires_icon {
    width: 200px;
    height: 200px;
}

.banner {
    width: 100%;
    height: 650px;
    overflow: hidden;
    display: flex;
}

header {
    height: 8vh;
    background-color: #6d8f5d;
    display: flex;
    align-items: center;
}


.header_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header_buttons {
    display: flex;
    margin-left: auto;
    padding-right: 10px;
}

body {
    margin: 0;
    width: 100%;
    font-family: system-ui;
    overflow-x: hidden;
}

.search-button{
    background-color: #a4bb9a;
}

.search-button:hover{
    background-color: #657260;
    cursor: pointer;
}

.price{
    color: rgb(211, 137, 0);
}
